
.categort_type{
    opacity:.7;
    transition: all .5s;
    cursor: pointer;
}
.categort_type:hover{
    opacity:1;
}

.mystery_box img{
    border-radius: 0.625rem;
    transition: all .5s;
    cursor: pointer;
}
.mystery_box img:hover{
    transform: scale(1.1, 1.1);
}

@media screen and (max-width:768px) {

    .mystery_box{
        margin-bottom: 10px;
        padding: 10px;
    }
}