.prod_img_div{
    width:80%;
    height: 80%;
    margin: auto;
    position: relative;
}
.prod_img{
    width:100%;
    height:100%;
    border-radius: 10px;
    transition: all 1s;
    cursor: pointer;
}
.img_layer{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    left:0;
    width:10%;
    height:10%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity:0;
   
    transition: all 1s;
    cursor: pointer;
}
.img_layer button{
    background-color: rgb(121, 121, 121);
    color: #9E1D1C;
}
.prod_img_div:hover .img_layer{
    opacity:1;
    width:100%;
    height:100%;
    border-radius: 10px;
}

.category_container{
    background-color:rgb(240, 240, 240);
    height: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #9E1D1C;
}
.caption h4{
    color:#9E1D1C;
    font-weight:700;
}   
.caption{
    margin-bottom:5px;
}
.caption span{
    font-size:20px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 800;
}
.badge{
    position: absolute;
    top:0;
    left:0;
    transform: translateX(-50%);
    background-color: #9E1D1C;
}