.nav_btn_icons{
    font-size: 1.25rem;
    margin-inline:0.9375rem;
    padding:0.625rem 1.25rem;
    border:0.0625rem solid #9E1D1C;
    border-radius: 0.625rem;
    color:#9E1D1C;
    transition: all .5s;
}
.nav_btn_icons:hover{
    background-color: #9E1D1C;
    color: white;
}
.btn_effect{
    animation: bumb 300ms ease-out;

}
@keyframes bumb {
    0%{
        transform: scale(1.05);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}